@import url('https://fonts.googleapis.com/earlyaccess/cwtexkai.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

html {
}
body {
   padding-top:50px;
   color: #111111;
   font-family: 'Noto Sans TC', sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 1.52381em;
   text-rendering: optimizelegibility;
}

nav#sidemenu {
  padding-bottom: 50px;
  height: 85%;
  overflow-y: auto;
  position: fixed;
}
li.active,
li.active:hover,
li.active:focus  {
    background: #9CF;
}
li.active a,
li.active:hover a,
li:focus a  {
    color: #FFF;
}
li ul.nav li.active,
li ul.nav li.active:hover,
li ul.nav li.active:focus  {
    background: #7bd;
}
li ul.nav li.active a,
li ul.nav li.active:hover a,
li ul.nav li:focus a  {
    color: #FFF;
}
li.currentli.headli:not(.active) {
  font-weight:bold;
  background: #e7f5ff;
}
ul.tagList li {
  margin: 3px 0;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
h3 {
  color: #00126b;
}
h4 {
  color: #0220b5;
  margin-top: 28px;
}


p {
    margin: 0 0 1.14286em;
    text-indent:1em;
}
p.NoIndent {
   text-indent:0;
}

.nav {
   font-size:90%;
}

p.Item,p.MagicItem {
   text-indent:0;
   font-weight:bold;
}
span.Tags {
   font-weight:normal;
   /* font-style:italic; */
   font-size: 0.9em;
   padding-left: 10px;
}
li span.Tags {
   padding-left: 0px;
}
p.ItemDescription {
   margin-left:.5em;
   margin-top: -15px;
}

p.Instructions, p.InstructionsAfterHeader {
   background-color:#eee;
   padding:.5em;
}
p.Requirement {
   font-style:italic;
}

/*p.ExampleDialogue,p.ExampleDialogueFirstLine,p.ExampleDialogueLastLine {
    font-style: italic; 
   margin: 0 0 .5em;
}*/

h3.MonsterName {
  color: #000;
  border-top:medium solid black;
  padding-top:1em;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: solid 1px black;
}
h3.MonsterName span.Tags, h3.SpellName span.Tags {
  font-size:70%;
}

#site-nav {
   font-size:80%;
}
#site-nav input {
   font-size:80%;
}

.anchor {
    padding-top: 60px;
    margin-top: -60px;
}
h3.MonsterName.anchor {
    padding-top:60px;
    margin-top: 0em;
}
p.MagicItem.anchor {
   padding-top: 60px;
   margin-top: -60px;
}
h3.BasicMoveName.anchor {
    padding-top:60px;
    margin-top: -60px;
}
h3.MoveName.anchor {
    padding-top:60px;
    margin-top: -60px;
}

hr {
  border-color: #aaa;
}

.pseudoTitle {
  font-size: 41px;
  padding-top: 10px;
  margin-bottom: 30px;
}

/* Tag */
tag {
  font-size: 0.9em;
  margin: 1px;
  padding: 1px 3px;
  background: #ddd;
  border-radius: 5px;
}
tag.red { background: #ecacac; }
tag.blue { background: #bcdbf3; }
tag.green { background: #bee0c0; }
tag.purple { background: #cfb4ff; }
tag.line { background: #fff; border: 1px solid #000; }

/* Monster Block */
.MonsterStats {
  margin: 0 0 0.2em;
}
.MonsterStats + .MonsterStats  {
  font-size: 1.3em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid black;
}
.MonsterQualities {
  margin-bottom: 0.4em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid black;
}
.MonsterDescription {
  margin-bottom: 0.4em;
}

/* Moves Block */
#racialmoves, #alignment {
  margin-left: 1em;
}
.Move, .Spell, .Hireling, .Block {
  border: 1px solid black;
  padding: 5px;
  margin: 0.5em 0 1em;
}
.Spell h3 {
  color: #000;
}
.Move h3, .Move h4, .Hireling h4, .Block h4 {
  color: #000;
  margin-top: 0.2em;
}
.Move p {
  margin-top: 0px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.Move ul:last-child, .Hireling p:last-child {
  margin-bottom: 0.2em;
}

/* Class */
#look li{
  margin-bottom: 0.5em;
}

.Example {
  background: #ddd;
  padding: 10px 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #222;
  font-family: 'cwTeXKai', serif;
}
.Example+.Example {
  margin-top: -10px;
}
.Example p {
  margin: 0 .2em .5em .8em;
  text-indent: -.5em;
}
.Example p:last-child, .Spell p:last-child {
  margin-bottom: 0em;
}


.List li {
  text-indent: -1em;
  margin: 0 0 1.14286em 1em;
}

.Inner {
  padding-left: 15px;
}

sub{
  color: #00F;
}
.Dialogue {
  margin: 0 .2em .5em .8em;
  text-indent: -.5em;
}
.Comment {
  padding: 5px;
  margin-left: 30%;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid black;

  font-size: 0.8em;
  color: #666;
  line-height: 1.3em;
}


@media only screen and (max-width: 600px) {
  nav#sidemenu {
    padding-bottom: 50px;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  #footer {
    font-size: xx-small;
    height: 80px;
  }
}